.header{
    text-align: center;
    font-size: 200%;
    background-color: linen;
    border: 5px solid mintcream;
    padding: 30px;
}

.body{
    background-color: lightsteelblue;
   }

.card{
    font-size: 125%;
    color :black;
    background-color: linen;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid mintcream;
    padding: 10px;
}

.name{
    font-size: 150%;
}